# My directories and things
misc
public/wp-content
public/other/garfield/A
public/other/garfield/B
public/other/garfield/C
public/other/garfield/MIXED

storage/

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
